<style type="text/css">
            body {
                background:wheat url("painting.jpg") repeat-y right top ;

            }
            h1{
                color: white;
                text-align: right;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                
            }
            table{
                border: 1px solid rosybrown;
                width: 100%;
                height: 50%;
                vertical-align: bottom;
                padding: 10px;
            
            }

            a:link{
                color:yellowgreen;
            }
            a:visited{
                color:teal;
            }
            a:hover{
                color: brown;
            }
            ul{
                list-style-image: url('rsquare.jpg');
            }
        </style>